        <div class="footernote">
               <strong>Moving supplies and Insurance are all readily available.</strong>
               <strong>Call 905-686-8856 for details or leave us a note.</strong>
	</div>
     </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="/scripts/slideshow.js"></script>
    </body>
</html>