<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
    	<div class="container">
    		<img src="/images/photo-1449247666642-264389f5f5b1.jpg" id="topImage">
		</div>
        <p>
	        Renewable Storage is proud to serve the storage needs of Canadians in the Greater Toronto Area. We take pride in providing exceptionally clean, safe, and affordable facilities, staffed with knowledgeable and friendly professionals to help you make the best decision for your storage requirements.
	    </p>
        <p>
	        Our goal is to make your storage experience as stress-free and convenient as possible - to that end, we provide a wide variety of services and supplies. In addition to storage spaces, we offer affordable outdoor parking spaces for your vehicles, secure mailboxes and an extensive line of moving supplies. We provide solutions during renovations, staging, when home closing dates don't coincide, for seasonal and other items not always wanted taking up space around the house, files or product for businesses in need of a little extra space, plus any other short or long term storage need.
	    </p>
        <p>
	        At Renewable Storage we strive to offer our customers outstanding service, peace of mind and a great price on storage space. Don't hesitate to give us a call or drop by our office in person, any one of our managers will be happy to show you around our facilities.
	    </p>
	<div class=sideSection>
	    <span class="titleline">Why we are # 1</span></h2>
        <ul>
	        <li>     People trust their things to Renewable Storage</li>
	        <li>     Our facilities are clean and well-lit</li>
	        <li>     You keep the only key to your unit</li>
	        <li>     We offer climate controlled units</li>
	        <li>     We give you 7 days a week access</li>
	        <li>     We offer a wide variety of sizes and features</li>
        </ul>
        <h2><span class="titleline">Customer Testimonials</span></h2>
	       <blockquote>
	       	  <em>
			       "I want to thank Renewable Storage for the kindness and consideration shown to me after I lost my job. 
			       I needed an affordabnle storage facility to keep my belongings while I moved to a new place 
			       as I was job hunting. They were flexible on pricing and took care of my things. Thanks guys!"
		   	   </em>
		   	   <br>
		   	   - Tim H.
	       </blockquote>
	       <blockquote>
	       	   <em>
			       "Renewable Storage offered me the best price for storage, at the same time safe kept my stuff safe!"
		       </em>
		       <br>
		        - Tony F.
	       </blockquote>
       </div> 
	</div>



<% include partials/footer %>