<% include ./partials/header %>

<div class="mainSection">
	<div class="container">
    	<img src="/images/money-vitaly-145502.jpg" id="topImage" alt="PayMyBill Image">
	</div>
	<h2><span class="titleline">Make a Payment</span></h2>
	<p>
		All Renewable Storage customers can pay bill through PayPal. For payment click on the PayPal link given below.
	</p>
		<img src="/images/paypal.png" width=20% height="20%">
    <h2><span class="titleline">For New Customers</span></h2>
	<p>
		Looking for the cost to rent a storage unit nearby? Or maybe you need a moving truck? Let Renewable Storage help you take a load off! Our rates are available online. Prices vary by storage unit size and length of rental time.
	</p>
	<h2><span class="titleline">Renewable Deals and Steals</span></h2>
	<p>
		On a budget? Call our customer service and ask about our monthly and ongoing specials. We also offer great discounts to military personnel, seniors and more.
	</p>

</div>
		</div>

<% include ./partials/footer %>