<% include ./partials/header %>



<div class="mainSection">
	<div class="container">
    	<img src="/images/cash-register-andrew-branch.jpg" id="topImage">
	</div>
    	<h1><span class="titleline">Sizes & Rates</span></h1>
<table class="pricetable">
	<tbody>
		<tr class="hd">
			<td align="center" height="30" width="200">
				<strong>Size of Unit</strong></td>
			<td align="center" width="150">
				<strong>Our Price</strong></td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 14 (112 Cubic feet)</td>
			<td class="tamount" width="150">
				$90.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 16 (128 Cubic Feet)</td>
			<td class="tamount" width="150">
				$99.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 18 (144 Cubic Feet)</td>
			<td class="tamount" width="150">
				$110.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 22 (176 Cubic Feet)</td>
			<td class="tamount" width="150">
				$130.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 24 (192 Cubic Feet)</td>
			<td class="tamount" width="150">
				$140.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 26 (208 Cubic Feet)</td>
			<td class="tamount" width="150">
				$150.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 28 (224 Cubic Feet)</td>
			<td class="tamount" width="150">
				$160.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 30 (240 Cubic Feet)</td>
			<td class="tamount" width="150">
				$170.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				8 x 53 (424 Cubic Feet)</td>
			<td class="tamount" width="150">
				$200.00/month</td>
		</tr>
	</tbody>
</table>
<h2 class="titleline">
	For larger sizes please contact us Tel: 905 686 8856<br>
	<a href="mailto:info@renewablestorage.ca" class="titleline">info@renewablestorage.ca</a></h2>
<p>
	<strong>Outdoor storage parking also available</strong></p>
<p>
	Sizes:</p>
<table cellspacing="1" class="pricetable">
	<tbody>
		<tr class="hd">
			<td align="center" height="30" width="200">
				<strong>Size of Unit</strong></td>
			<td align="center" width="150">
				<strong>Our Price</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				RV's boats up to 20 feet</td>
			<td class="tamount" width="150">
				$45.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				21-25 feet</td>
			<td class="tamount" width="150">
				$50.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				25-30 feet</td>
			<td class="tamount" width="150">
				$60.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				31-35 feet</td>
			<td class="tamount" width="150">
				$70.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				36-40 feet</td>
			<td class="tamount" width="150">
				$80.00/month</td>
		</tr>
		<tr>
			<td class="tfeet" width="200">
				41-45 feet</td>
			<td class="tamount" width="150">
				$90.00/month</td>
		</tr>
	</tbody>
</table>

<h2 class="titleline">Pricing Notes</h2>
<ul>
	<li><strong>No deposit</strong></li>
	<li>All rates are per month</li>
	<li>One month minimum rent and one-time administration</li>
	<li>Customer may provide their own lock to secure storage<br>
		unit or purchase one of our high quality disc locks</li>
	<li>Prices subject to change without notice</li>
	<li>All units are available on a first come basis</li>
</ul>
</div>

<% include ./partials/footer %>