<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
        <div class="container">
    	    <img src="/images/storage-unit.jpg" id="topImage" alt="StorageSolutions Image">
	    </div>
        <h2>
		<span class="titleline">Why Renewable Storage? We Offer The Best Self Storage Features In Canada</span></h2>
	<p>
		When it comes to self storage features, here is how we stand apart from all other companies:
	</p>
	<ul>
		<li>Rentals are Month to Month Terms.</li>
		<li>Affordable Pricing.</li>
		<li>Envrionmentally Friendly.</li>
	</ul>
	<p>
		Contact us for details Today!
	</p>
	<h2><span class="titleline">Plus All These Important Self Storage Features</span></h2>
	<p>
		Payment and leasing options are both affordable and customer friendly, and our courtesy extras will save you both time and money. All these self storage features are explained in detail in the following pages:
	</p>
	<ul>
		<li>Long Term Storage</li>
		<li>Seasonal Storage</li>
		<li>Temporary Storage</li>
		<li>Affordable Self-Storage</li>
		<li>Secure Storage</li>
		<li>Climate Controlled Self-Storage</li>
	</ul>
	<p>
		For more information, contact our experienced on-site managers Renewable Storage.
	</p>
	<h2><span class="titleline">Seasonal, Long Term, Affordable Self-Storage…Find It All At Renewable</span></h2>
	<p>
		No one can match the self storage features and affordable pricing at Renewable Storage. We look forward to hearing from you soon.
	</p>
<p>
    </div>
</div>

<% include ./partials/footer %>