<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
        <div class="container">
            <img class="imgSlide" src="/images/44444-985x414.png">
        </div>

    </div>
</div>

<% include ./partials/footer %>