body {
	background-color: white;
	background-size: cover;
	background-position: center;
	margin-top: 70px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: 'Raleway', sans-serif;
}
#siteBody{
	display: inline-block;
}
.brandImage {
	width: 75%;
	height: 320%;
}
.delete-form{
    display: inline;
}
.footernote{
	background-color: #40c90e;
	border-radius: 25px;
	color: white;
	display: inline-block;
	font-size: 150%;
	font-family: 'Raleway', sans-serif;
	margin: 15% 15% 10% 0%;
	padding: 20px;
	text-align: center;
}
.formContainer {
	width: 30%; 
	margin: 30px auto;
}
.jumbotron{
	background: #40c90e;
	color: white;
	display: inline-block;
	justify-content: center;
	text-align: center;
	vertical-align: top;
}
.mainSection{
	/*Creates spacing around the div to position it in the center
	of the page*/
	align-items: center;
	background-color: white;
	border: 25px;
	border-radius: 25px;
	display: inline-block;
	font-size: 120%;
	justify-content: center;
	text-align: center;
}
.navbar-brand {
	background-size: contain;
    height: 300%;
    position: relative;
}
.navbar-inverse{
	background: #40c90e;
	color: #ffffff;
}
.navbar-inverse .navbar-nav >li>a, .navbar-inverse .navbar-nav {
    background: #40c90e;
    color: #ffffff;
    font-size: 141%;
    margin-top: 20px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu {
    background: #40c90e;
    color: #ffffff;
}
.newText {
	text-align: center;
}
.sideSection{
	float: left;
	text-align: left;
}
.well{
	margin-left: 25%;
}